body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ECE5DD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #075E54;
    color: #ffffff;
    height: 80px;
    text-align: left;
    width: 100%;
    
}

header h1 {
    margin: 0;
    padding: 20px;
}

#chatwindow {
    width: 80%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
}

#logout-bttn {
    position: absolute;
    right: 15px;
    top: 35px;
    background-color: #25D366;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

#logout-bttn:hover {
    background-color: #128C7E;
}

#chatbox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    margin: 10px 0px;
}

#messageForm {
    display: flex;
    padding: 10px 20px;
    background-color: #f0f0f0;
}

#messageInput {
    height: 32px;
    width: 100%;
    padding: 6px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: none;
}

#submit-bttn {
    background-color: #25D366;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
}

#submit-bttn:hover {
    background-color: #128C7E;
}

.message {
    display: inline-block;
    width: fit-content;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(130, 199, 195);
    min-width: 80px;
}

.message.mine {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    align-self: flex-end;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.message-person {
    font-weight: bold;
}

.message-time {
    color: gray;
    font-size: 0.85em;
    font-style: italic;
}

.message-body {
    padding: 5px 0;
}
