* {
    box-sizing: border-box;
}

header {
    padding: 20px;
}

#container {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#login-form, #register-form {
    width: 50%;
}

label {
    display: inline-block;
    width: 80px;
}

#register-form {
    display: none;
}

.alert {
    background-color: yellow;
    color: red;
    width: fit-content;
}

